<script src="{{ site.baseurl }}/unity/webgl-test/TemplateData/UnityProgress.js"></script>
<script src="{{ site.baseurl }}/unity/webgl-test/Build/UnityLoader.js"></script>
<script>
  var gameInstance = UnityLoader.instantiate("gameContainer", "{{ site.baseurl}}/unity/webgl-test/Build/webgl-test.json",{onProgress: UnityProgress});
</script>

<div id="tabs-with-content">
  <div class="tabs is-centered is-boxed">
    <ul>
      <li><a>Game</a></li>
      <li><a>Info</a></li>
    </ul>
  </div>
  <div>
    <section class="tab-content">
    <div class="webgl-content">
      <div id="gameContainer" style="width: 960px; height: 600px"></div>
    </div>
    </section>
    <section class="tab-content">Info here</section>
  </div>
</div>

<!-- Place for displaying a message from Unity -->
<div class="centered">
   <h2>Message from Unity</h2>
   <p id="lblMessage">...</p>
</div>
<script>
   // Function which receives a message from Unity
   function receiveMessageFromUnity(txt) {
      // Get element to assign the message
      const lblMessage = document.getElementById("lblMessage");
      // Assign received from Unity message
      lblMessage.innerText = txt;
   }
</script>

<script>
  let tabsWithContent = (function () {
    let tabs = document.querySelectorAll('.tabs li');
    let tabsContent = document.querySelectorAll('.tab-content');

    let deactvateAllTabs = function () {
      tabs.forEach(function (tab) {
        tab.classList.remove('is-active');
      });
    };

    let hideTabsContent = function () {
      tabsContent.forEach(function (tabContent) {
        tabContent.classList.remove('is-active');
      });
    };

    let activateTabsContent = function (tab) {
      tabsContent[getIndex(tab)].classList.add('is-active');
    };

    let getIndex = function (el) {
      return [...el.parentElement.children].indexOf(el);
    };

    tabs.forEach(function (tab) {
      tab.addEventListener('click', function () {
        deactvateAllTabs();
        hideTabsContent();
        tab.classList.add('is-active');
        activateTabsContent(tab);
      });
    })

    tabs[0].click();
  })();
</script>
